<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of Comments
            </div>
            <div class="card-block">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Article name</th>
                            <th>Username</th>
                            <th>Comment</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Comment of Comments | paginate: { itemsPerPage: itemsPPage, currentPage: curPage };let i = index" [attr.data-index]="i">
                            <td><span class="categoryTitle">{{Comment.commented_by.name}}</span></td>
                            <td><span class="categoryTitle">{{Comment.commented_by.name}}</span></td>
                            <td style="width:50%;">{{Comment.commentText}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" type="button" (click)="publishComment(Comment)">Publish</button>
                                <button class="btn btn-danger btn-sm" type="button" (click)="DelComment(Comment)">Decline</button>
                               <!--  <template *ngIf="Category.status === 'ACTIVE'"> -->
                    <!-- <button  class="btn btn-info btn-sm" type="button">Active</button> -->
                  <!-- </template> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="changePage($event)" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>